In [ ]:
Adding Whitespaces to strings:

In [1]:
#Example:

print('Fav_langauages: Pythonc++javacobalpascal')

Fav_langauages: Pythonc++javacobalpascal

In [3]:
#Adding New line delimiter : \n

print('Fav_langauages:\nPython\nc++\njava\ncobal\npascal'.title())

Fav_Langauages:
Python
C++
Java
Cobal
Pascal

In [4]:
#Adding a tab delimiter : \t and in combination with \n

print('Fav_langauages:\n\tPython\n\tc++\n\tjava\n\tcobal\n\tpascal'.title())

Fav_Langauages:
	Python
	C++
	Java
	Cobal
	Pascal

In [ ]:
Note: '\n'- New line delimiter
       '\t'- Tab delimiter

In [ ]:
# Removing Whilespaces from the string:-

In [7]:
#Examples :-

x = 'python'
print(x)

y = '     python'
print(y)

z="python     "
print(z)

python
     python
python

In [10]:
# In the above senario we have seen whilesapces in front and back of the string
# how to remove them?

print(y.lstrip().title())  # lstrip is leftside stripping

z.rstrip().title()   # rstrip is right side stripping

Python

'Python'

In [12]:
#How to remove spaces from both sides of the string?

a = '       python programming     '
print(a)

a.strip().title()  # strip will remove space from both sides..

       python programming

'Python Programming'

In [ ]:
Introduction to "list" datatype:

In [ ]:
Def: A list is an orderred collection of items...
    
Classifications: A list can be classified as a mutable (which can be editable) datatype
    
How to define a list?
Square brackets []

In [13]:
#Example:

students = ['tilak','surya','ram','teja','rani']
print(students)

['tilak', 'surya', 'ram', 'teja', 'rani']

In [14]:
type(students) # to verify the datatype..

list

In [ ]:
#Requirement: How to access a element from the list?

Introduction to index : 0,1,2,3,4....
All the strings in the list where read by the index number..

In [20]:
#Example:

students = ['tilak','surya','ram','teja','rani']

print(students[3].title())# 3 in the brackets will be a index number aloted to string in a list...

print(students[1:4])

print(students.title())

Teja
['surya', 'ram', 'teja']

AttributeError: 'list' object has no attribute 'title'