In [ ]:
# Introduction to Datatypes in Python:-

1) String -----> str
2) list -------> list
3) tuple -------> tuple
4) dictionaries ----> dict
5) Number [ Integers (int) and decimals (float)]

In [ ]:
#Classification of datatypes:

1) Mutable datatype -----> It means we can alter/edit the data once its has been decleared

2) immutable dattype -----> Not able to edit, its a fixed datatype..

In [13]:
# How to validate and varify the data type:


type ('name')
type ('name1')

str

In [14]:
type (10)

int

In [15]:
type (10.23)

float

In [ ]:
#Introduction to string datatype:-
#Def: A string is nothing but a serice of charactars decleared in quates..

Classification:- A string is classified as an immutable datatype

# How to define a string:- 3 possible ways

Single quotes : ''
Double quotes : ""
Triple quotes : """"""

In [18]:
#Examples:

name = 'Tilak'
print(name)

name1 = "Ramu"
print(name1)

name2 = """Venu"""
print(name2)

Tilak
Ramu
Venu

In [ ]:
Introduction to string methods:-

In [6]:
# Requirement1: To correct and get the output in correct format..

fullname = 'tilak nimmagadda'

print(fullname)
print(fullname.title())    #title case..
print(fullname.upper())    #Upper case..
print(fullname.lower())    #lower case..

# By using the "title()" string method we will get the right format of a title
# By using the "upper()" string method we will get the name in uppercase..
# By using the "upper()" string method we will get the name in lowercase..

tilak nimmagadda
Tilak Nimmagadda
TILAK NIMMAGADDA
tilak nimmagadda

In [ ]:
Introduction to "f" string:-

In [10]:
#Req1 :- I want to get the full name from the below nu using the referance to the above..

firstname = 'tilak'
lastname = 'nimmagadda'

# f string Syntax: f "{placeholder1} {placeholder2}....n" 

fullname = f"{firstname} {lastname}"
print(fullname)

print(fullname.title())

tilak nimmagadda
Tilak Nimmagadda

In [12]:
#Req2:- Want to appreciate for the good work..

appreciate = f"Keep up the good work, {fullname}"
print(appreciate.title())

Keep Up The Good Work, Tilak Nimmagadda