In [2]:
# Organising the List:

cars = ['suzuki','bmw','kia','benz', 'audi','honda']

len(cars)

# Note: len is the command used for total the count for the elements in the list..

6

In [3]:
#I want to organize the list in the alphabetical order---->

# We have 2 different approcaches:
# 1) Temp approach
# 2) Parmanent approach

print(sorted(cars))

#Note : sorted will is a temp approach

['audi', 'benz', 'bmw', 'honda', 'kia', 'suzuki']

In [4]:
print(cars)

['suzuki', 'bmw', 'kia', 'benz', 'audi', 'honda']

In [11]:
#Parmanent approach:

cars.sort()
print(cars)

['audi', 'benz', 'bmw', 'honda', 'kia', 'suzuki']

In [12]:
print(cars)

['audi', 'benz', 'bmw', 'honda', 'kia', 'suzuki']

In [13]:
Interview queaction:

SyntaxError: invalid syntax (<ipython-input-13-e29de4533e79>, line 1)

In [14]:
#Req: How do you print the list in a reverse order..
 
cars.reverse()
print(cars)

['suzuki', 'kia', 'honda', 'bmw', 'benz', 'audi']

In [20]:
#Slicing the list:

my_students = ['ghalab','lakshmi','puneeth','tilak','srikanth','surya','dinesh','basker']

#General Syntex of a slicing: var[startvalue:stopvalue:stepcount]

print(my_students[0:2])
print(my_students[2:4])
print(my_students[4:6])
print(my_students[6:8])

print(my_students[0:8:3])

['ghalab', 'lakshmi']
['puneeth', 'tilak']
['srikanth', 'surya']
['dinesh', 'basker']
['ghalab', 'tilak', 'dinesh']

In [22]:
#Introdution to negative indexing:  -1,-2,-3,-4,-5....

print(my_students[-1])
print(my_students[7])

basker
basker

In [ ]:
# Introdution to "tuple"datatype:

#tuple is clasified as an immutable datatype

#how to define the tuple---->()

In [23]:
students = ('ghalab','lakshmi','puneeth','tilak','srikanth','surya','dinesh','basker')
print(students)

('ghalab', 'lakshmi', 'puneeth', 'tilak', 'srikanth', 'surya', 'dinesh', 'basker')

In [24]:
type(students)

tuple

In [27]:
students[1] = 'ramana'
print(students)

We can change any list value in tuple datatype

TypeError: 'tuple' object does not support item assignment

In [28]:
dimension = (200,50)
print(dimension)

(200, 50)

In [29]:
dimension[1] = 20
print(dimension) # we can't replace any element in the list when we defined under tuple..

TypeError: 'tuple' object does not support item assignment

In [31]:
dimension = (200,20)
print(dimension)  we need to reassign the vales to make any changes in the list values in tuple..

(200, 20)

In [35]:
#For loop in tuple

for x in students:
    print(x.title())

Ghalab
Lakshmi
Puneeth
Tilak
Srikanth
Surya
Dinesh
Basker